$primary-color: #16264f;
$accent-color: #45d06c;
$blue-color: #4e9afd;
$white-color: #fff;
$bg-gray-color: #dedede;
$transition: all ease-in-out 0.3s;
:root {
  --bs-body-font-family: Kanit, sans-serif;
  --bs-body-color: $primary-color;
  --bs-success: $accent-color;
  --bs-gutter-x: 24px;
  --bs-gutter-y: 24px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: $bg-gray-color;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 8px;
}

body::-webkit-scrollbar {
  width: 10px;
}
.be-loader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color:$primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition;
  img{
    height: 100px;
  }
}
// Common
@media (min-width: 1400px) {
  .container {
    max-width: 1152px;
  }
}
@media (max-width: 767px) {
  .container {
    --bs-gutter-x: 40px;
  }
}
.be-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  height: 45px;
  min-width: 196px;
  background-color: $accent-color;
  border: 0;
  border-radius: 15px;
  transition: $transition;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: $white-color;
  text-decoration: none;
  &:hover {
    background-color: rgba($color: $accent-color, $alpha: 0.8);
    color: $white-color;
  }
}
.be-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 66px;
  margin-bottom: 5px;
  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 1.5;
  }
}
.be-description {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 16px;
}
.be-image-card {
  background-color: $bg-gray-color;
  border-radius: 30px;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 991px) {
    border-radius: 20px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.be-logo-card {
  text-align: center;
  margin-bottom: 10px;
  .be-logo-image {
    height: 148px;
    margin-bottom: 5px;
    background-color: #1c2b53;
    border-radius: 25.6771px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    @media (max-width: 991px) {
      border-radius: 20px;
    }
    @media (max-width: 767px) {
      height: 100px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .be-logo-title {
    font-size: 13.6944px;
    line-height: 21px;
  }
}
.be-socials {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $accent-color;
    transition: $transition;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    @media (max-width: 767px) {
      width: 24px;
      height: 24px;
    }
    &:hover {
      background-color: rgba($color: $accent-color, $alpha: 0.8);
    }
    img {
      max-height: 18px;
      @media (max-width: 767px) {
        max-height: 12px;
      }
    }
  }
}

// Header
.be-header {
  background-color: $primary-color;
  border-radius: 0px 0px 30px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  z-index: 998;
  transition: $transition;
  &.sticky{
    padding: 12px 0;
    border-radius: 0px 0px 20px 20px;
    .be-open-menu{
      top: 10px;
    }
  }
  @media (max-width: 991px) {
    border-radius: 0px 0px 20px 20px;
    padding: 20px 0 ;
  }
  @media (max-width: 767px) {
    .be-brand{
      .be-logo{
        height: 40px;
      }
    }
  }
  .be-toggle-menu {
    position: fixed;
    top: 20px;
    right: 30px;
    background-color: transparent;
    padding: 0;
    border: 0;
    display: none;
    z-index: 998;
    transition: $transition;
    @media (max-width: 767px) {
      display: block;
    }
    &.be-close-menu {
      z-index: 999;
    }
    img {
      height: 45px;
      margin-top: 2px;
    }
  }
  .be-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      display: block;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $primary-color;
      transform: translateX(100%);
      padding: 120px 0 30px;
      transition: $transition;
      z-index: 999;
      &.show {
        transform: translateX(0);
      }
    }
    .be-brand {
      width: 196px;
      display: inline-flex;
      text-decoration: none;
      .be-logo {
        height: 48px;
        width: auto;
      }
    }
    .be-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
      @media (max-width: 767px) {
        flex-direction: column;
        margin-bottom: 20px;
      }
      li {
        a {
          text-decoration: none;
          padding: 14px 28px;
          font-weight: 700;
          line-height: 20px;
          color: $white-color;
          transition: $transition;
          &:hover {
            color: $accent-color;
          }
          @media (max-width: 991px) {
            padding: 14px 16px;
          }
          @media (max-width: 767px) {
            padding: 20px;
            display: inline-flex;
            font-size: 24px;
          }
        }
      }
    }
    .be-btn {
      @media (max-width: 991px) {
        min-width: auto;
      }
      @media (max-width: 767px) {
        min-width: 196px;
      }
    }
  }
}

// Main
.be-main {
  padding-top: 100px;
  @media (max-width: 991px) {
    padding-top: 88px;
  }
}

// Banner
.be-banner {
  padding: 83px 0 34px;
  @media (max-width: 1199px) {
    padding-bottom: 0;
  }
  @media (max-width: 991px) {
    padding-top: 60px;
  }
  @media (max-width: 767px) {
    padding-top: 30px;
  }
  h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 8px;
    @media (max-width: 1199px) {
      font-size: 50px;
    }
    @media (max-width: 991px) {
      font-size: 40px;
      line-height: 1.2;
    }
    @media (max-width: 375px) {
      font-size: 36px;
      line-height: 1;
    }
  }
  p {
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 26px;
    @media (max-width: 991px) {
      line-height: 1.5;
    }
  }
  .be-banner-image {
    height: 100%;
    background: $bg-gray-color;
    border-radius: 30px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 991px) {
      border-radius: 20px;
    }
    @media (max-width: 767px) {
      min-height: 280px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .be-btn {
    margin-bottom: 52px;
    @media (max-width: 991px) {
      margin-bottom: 32px;
    }
  }
  .be-banner-addon {
    display: flex;
    .be-banner-addon-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      &:last-child {
        border-left: 2px solid $primary-color;
        padding-left: 34px;
        @media (max-width: 991px) {
          padding-left: 16px;
        }
      }
      label {
        margin-bottom: 5px;
        line-height: 26px;
        font-weight: 500;
        @media (max-width: 991px) {
          line-height: 1.3;
          font-size: 14px;
        }
      }
      b {
        font-weight: 500;
        font-size: 30px;
        line-height: 66px;
        color: $blue-color;
        @media (max-width: 991px) {
          line-height: 1.3;
          font-size: 22px;
        }
      }
    }
  }
}

// Features
.be-features {
  padding: 83px 0 34px;
  @media (max-width: 1199px) {
    padding-bottom: 0;
  }
  @media (max-width: 767px) {
    padding-top: 60px;
  }
  .be-feature {
    padding: 45px;
    border-radius: 30px;
    height: 100%;
    text-align: center;
    @media (max-width: 1199px) {
      padding: 32px;
    }
    @media (max-width: 991px) {
      border-radius: 20px;
      padding: 16px;
    }
    &.style-1 {
      background: linear-gradient(360deg, #fff3dd 0%, #eaeaff 100%);
    }
    &.style-2 {
      background: linear-gradient(360deg, #ffedae 0%, #d9ffdd 100%);
    }
    &.style-3 {
      background: linear-gradient(
        360deg,
        #ffaeae 0%,
        #ffd0c4 51.56%,
        #fff0d9 100%
      );
    }
    h2 {
      font-weight: 600;
      font-size: 30px;
      line-height: 62px;
      margin-bottom: 0;
      @media (max-width: 991px) {
        line-height: 1;
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
    p {
      line-height: 24px;
      margin-bottom: 0;
      @media (max-width: 991px) {
        line-height: 1.5;
      }
    }
  }
}

// Farms
.be-farms {
  padding: 83px 0 48px;
  position: relative;
  @media (max-width: 1199px) {
    padding-bottom: 0;
  }

  @media (max-width: 767px) {
    padding-top: 60px;
  }
  &::before {
    content: "";
    width: 56vw;
    height: 56vw;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      360deg,
      #c3ecef 0%,
      #e5f8f9 65.1%,
      #f8feff 100%
    );
    z-index: -1;
    opacity: .7;
    @media (max-width: 767px) {
      display: none;
    }
  }
  .be-farm {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
    p {
      color: #18181b;
      margin-bottom: 5px;
    }
    .be-image-card {
      width: 100%;
      min-height: 345px;
      @media (max-width: 1199px) {
        min-height: 280px;
      }
    }
  }
}

// Demo
.be-demo {
  padding-top: 83px;

  @media (max-width: 767px) {
    padding-top: 60px;
  }
  .be-image-card {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    min-height: 534px;
    @media (max-width: 1199px) {
      min-height: 400px;
    }
    @media (max-width: 767px) {
      font-size: 32px;
      min-height: 280px;
    }
  }
}

// News
.be-news {
  padding-top: 49px;
  .be-title {
    margin-bottom: 0;
  }
  .be-post {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @media (max-width: 991px) {
      border-radius: 20px;
    }
    .be-post-thumbnail {
      text-decoration: none;
      display: block;
      height: 193px;
      overflow: hidden;
      @media (max-width: 991px) {
        height: 160px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .be-post-info {
      padding: 15px 32px;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      @media (max-width: 1199px) {
        padding: 15px 20px;
      }
      @media (max-width: 991px) {
        padding: 10px 20px 16px;
      }
      a {
        font-weight: 700;
        line-height: 20px;
        color: $primary-color;
        text-decoration: none;
        margin-bottom: 10px;
        transition: $transition;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          color: $accent-color;
        }
      }
      .be-post-created {
        font-size: 12px;
        line-height: 18px;
        color: #515151;
        span {
          &:first-child {
            margin-right: 19px;
            @media (max-width: 991px) {
              margin-right: 6px;
            }
          }
          @media (max-width: 991px) {
            font-size: 11px;
          }
        }
      }
    }
  }
}

// Backed
.be-backed {
  padding-top: 77px;
  .be-title {
    margin-bottom: 10px;
  }
  @media(max-width:767px){
    .row{
      --bs-gutter-x: 10px;
    }
  }
}

// Audit
.be-audit {
  padding-top: 77px;
  padding-bottom: 99px;
  @media (max-width: 1199px) {
    padding: 60px 0;
  }
  .be-title {
    margin-bottom: 10px;
  }
  @media(max-width:767px){
    .row{
      --bs-gutter-x: 10px;
    }
  }
}

// Footer
.be-footer {
  background-color: $primary-color;
  border-radius: 30px 30px 0px 0px ;
  padding: 26px 0;
  @media (max-width: 991px) {
    padding: 20px 0;
    border-radius: 20px 20px 0px 0px ;
  }
  @media (max-width: 767px) {
    padding: 30px 0 20px;
  }
  .be-footer-logo {
    height: 48px;
    @media (max-width: 767px) {
      height: 40px;
    }
  }
  .be-footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    @media (max-width: 1199px) {
      justify-content: center;
    }
    @media (max-width: 991px) {
      justify-content: start;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0;
      gap: 6px;
    }
    li {
      a {
        text-decoration: none;
        font-weight: 700;
        line-height: 20px;
        padding: 14px 24px;
        color: $white-color;
        transition: $transition;
        @media (max-width: 1199px) {
          padding: 14px;
          font-size: 14px;
        }
        @media (max-width: 991px) {
          padding: 14px 24px;
        }
        @media (max-width: 767px) {
          padding: 0;
        }
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}
